/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #2a0b81;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #65a6df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

#quiz-container {
    text-align: center;
}

#quiz-form {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

/* Quiz question styling */
#question {
    margin-bottom: 10px;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button[type="submit"],
button {
    padding: 10px 20px;
    background-color: #3e13be;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
    background-color: #44108d;
}

#result-message {
    font-weight: bold;
    margin-bottom: 10px;
}
